<style type="text/css">
<!--
A {text-decoration:none;}
A:link{color:#0000dd;}
A:hover{text-decoration:none; color:#ff0000;font-size: 9pt}
A:visited {font-family: "ו"; color:#664499}
BODY{
	font-family: "ו", "Arial", "Times New Roman"; 
	font-size: 9pt;
	background-image: url(images/back.jpg);
	color: #000000;
	background-attachment: fixed;
}
TABLE{
	font-family: "ו", "Arial", "Times New Roman"; 
	font-size: 9pt;
}
-->
</style>
